/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Logo styling */
.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Header styling */
header {
    background-color: #f8f9fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

/* Navigation link styling */
.nav-link {
    margin-right: 15px;
    color: #333;
    font-weight: 500;
    text-decoration: none;
}

.nav-link:hover {
    color: #007bff;
    text-decoration: underline;
}

/* Characters Section */
section {
    margin-top: 10px;
}

.characters-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Character Card Styling */
.character-card {
    color: rgb(104, 220, 209);
    width: 500px;  /* Increased the card width */
    display: flex; /* Use flexbox for side-by-side layout */
    align-items: center; /* Align items vertically centered */
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    gap: 25px; /* Space between image and text */
    transition: transform 0.3s, box-shadow 0.3s;
}

.character-card img {
    width: 150px;  /* Adjusted image width */
    height: 200px;
    border-radius: 10px;
}

.character-card div {
    text-align: left; /* Align text to the left */
}

.character-card p {
    margin: 5px 0;
    font-size: 1.1rem;
    font-weight: bold;
}

.character-description {
    font-size: 1rem;
    color: #393838;
}

.character-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Footer styling */
footer {
    border-top: 1px solid #ddd;
    background-color: black;
    color: white;
    padding: 20px 0;
    margin-top: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer a {
    display: block;
    margin: 5px 0;
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
